<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust</title>
    <%- include ("./headlinks.ejs") %>
  </head>
  <body>
    <%- include ("../includes/navbar.ejs") %>
    <div class="container">
      <%- include ("../includes/flash.ejs") %> <%- body %>
    </div>
    <%- include ("../includes/footer.ejs") %>
    <script src="/js/flash.js"></script>
  </body>
</html>
