<% layout("/layouts/boilerplate.ejs") %>
<body>
  <br /><br />
  <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
    <h3 class="form-head">Edit Listing</h3>
    <div class="form-field">
      <label for="title" class="form-label">Title</label>
      <input
        name="listing[title]"
        value="<%= listing.title %>"
        class="form-control"
      />
    </div>
    <br />
    <div class="form-field">
      <label for="description" class="form-label">Description</label>
      <textarea name="listing[description]" class="form-control">
<%= listing.description %></textarea
      >
    </div>
    <br />
    <div class="form-field">
      <label for="image.url" class="form-label">Image URL</label>
      <input
        name="listing[image.url]"
        value="<%= listing.image.url %>"
        class="form-control"
      />
    </div>
    <br />
    <div class="form-field">
      <label for="price" class="form-label">Price</label>
      <input
        name="listing[price]"
        value="<%= listing.price %>"
        type="number"
        class="form-control"
      />
    </div>
    <br />
    <div class="form-field">
      <label for="location" class="form-label">Location</label>
      <input
        name="listing[location]"
        value="<%= listing.location %>"
        class="form-control"
      />
    </div>
    <br />
    <div class="form-field">
      <label for="country" class="form-label">Country</label>
      <input
        name="listing[country]"
        value="<%= listing.country %>"
        class="form-control"
      />
    </div>
    <br />
    <button class="form-btn">Edit</button>
  </form>
  <br /><br />
</body>
