<% layout("/layouts/boilerplate.ejs") %>

<body class="listing-page">
  <div class="listing-container">
    <div class="listing-card">
      <h3 class="listing-title"><%= listing.title %></h3>

      <div class="listing-image-wrapper">
        <img
          src="<%= listing.image.url %>"
          alt="Listing Image"
          class="listing-image"
        />
      </div>

      <ul class="listing-info">
        <li class="listing-description"><%= listing.description %></li>
        <li class="listing-price">
          ₹ <%= listing.price.toLocaleString("en-IN") %>
        </li>
        <li class="listing-location"><%= listing.location %></li>
        <li class="listing-country"><%= listing.country %></li>
      </ul>

      <div class="listing-actions">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-edit"
          >Edit this Listing
        </a>

        <form
          action="/listings/<%= listing._id %>?_method=DELETE"
          method="POST"
          class="delete-form"
        >
          <button class="btn delete-btn">Delete this Listing</button>
        </form>
      </div>
    </div>
  </div>
</body>
